In [14]:
import mysql.connector
from mysql.connector import Error
import IMDSS.config as cfg
import pandas as pd
import datetime

try:
    connection = mysql.connector.connect(host=cfg.db['host'],
                                         database=cfg.db['name'],
                                         user=cfg.db['user'],
                                         password=cfg.db['password'])
    cursor = connection.cursor()
#     cur.execute('select * from tpr_data')
    df = pd.read_sql('select * from tpr_data', connection)
    

    df['create_date'] = df['create_date'].astype(int).add(19110000).astype(str)
    
    df['time'] = df[['create_date', 'create_time']].agg("\n".join, axis=1)
    
#     dates = pd.to_datetime(pd.Series(df['time']), format = '%Y%m%d')
#     dates.apply(lambda x: x.strftime('%Y-%m-%d'))

    df['time'] = df['time']
    
    print(dates)
    
    df['item'] = df['item'].str.strip()

    
    newdf = pd.pivot_table(df, index='time', columns='item', values='value')
    
    print(newdf.head())
    
    newdf.update(newdf[['BT(TA)', 'BW', 'DBP1', 'HR', 'RR', 'SBP1']].fillna(method='bfill'))
    
    newdf.to_csv('newdf.csv')
    

except Error as e:
    print("Error while connecting to MySQL", e)
finally:
    if (connection.is_connected()):
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

0     2019-10-10
1     2019-10-10
2     2019-10-10
3     2019-10-10
4     2019-10-10
         ...
613   2019-09-25
614   2019-09-25
615   2019-09-25
616   2019-09-25
617   2019-09-25
Name: create_date, Length: 618, dtype: datetime64[ns]
item                 BH  BT(E)  BT(TA)    BW  DBP1    HR    RR   SBP1
time
20190925\n161300    NaN   36.0     NaN   NaN  59.0  80.0  20.0  107.0
20190925\n162000    NaN    NaN     NaN   NaN  58.0  72.0  20.0  117.0
20190925\n164340  165.0    NaN    37.0  52.0  77.0  74.0  24.0  103.0
20190925\n174239    NaN    NaN     NaN   NaN  54.0  67.0  14.0  102.0
20190925\n190039    NaN    NaN    37.0   NaN  52.0  72.0  15.0  100.0
MySQL connection is closed