In [1]:
import mysql.connector
from mysql.connector import Error
import IMDSS.config as cfg
import pandas as pd
import datetime

try:
    connection = mysql.connector.connect(host=cfg.db['host'],
                                         database=cfg.db['name'],
                                         user=cfg.db['user'],
                                         password=cfg.db['password'])
    cursor = connection.cursor()
#     cur.execute('select * from tpr_data')
    df = pd.read_sql('select * from tpr_data', connection)
    

    df['create_date'] = df['create_date'].astype(int).add(19110000).astype(str)
    
    df['time'] = df[['create_date', 'create_time']].agg("\n".join, axis=1)
    


    df['time'] = df['time'].apply(lambda x: datetime.datetime.strptime(x, "%Y%m%d\n%H%M%S"))

    
#     dates = pd.to_datetime(pd.Series(df['time']), format = '%Y%m%d')   %Y%m%d\n%H%M%S
#     dates.apply(lambda x: x.strftime('%Y-%m-%d'))

#     print(df['time'])
    
    df['item'] = df['item'].str.strip()

    
    newdf = pd.pivot_table(df, index='time', columns='item', values='value')
    
#     print(newdf.index.values)
    
    newdf.update(newdf[['BT(TA)', 'BW', 'DBP1', 'HR', 'RR', 'SBP1']].fillna(method='bfill'))
    
    newdf.to_csv('newdf.csv')
    

except Error as e:
    print("Error while connecting to MySQL", e)
finally:
    if (connection.is_connected()):
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

['2019-09-25T16:13:00.000000000' '2019-09-25T16:20:00.000000000'
 '2019-09-25T16:43:40.000000000' '2019-09-25T17:42:39.000000000'
 '2019-09-25T19:00:39.000000000' '2019-09-25T20:30:39.000000000'
 '2019-09-25T22:30:39.000000000' '2019-09-26T03:00:39.000000000'
 '2019-09-26T03:04:01.000000000' '2019-09-26T04:30:49.000000000'
 '2019-09-26T06:30:46.000000000' '2019-09-26T07:30:39.000000000'
 '2019-09-26T08:30:39.000000000' '2019-09-26T10:30:39.000000000'
 '2019-09-26T12:32:47.000000000' '2019-09-26T14:00:39.000000000'
 '2019-09-26T14:30:40.000000000' '2019-09-26T15:30:39.000000000'
 '2019-09-26T16:30:39.000000000' '2019-09-26T19:00:39.000000000'
 '2019-09-26T20:30:39.000000000' '2019-09-26T22:30:53.000000000'
 '2019-09-26T23:01:39.000000000' '2019-09-26T23:30:49.000000000'
 '2019-09-27T03:03:09.000000000' '2019-09-27T05:00:39.000000000'
 '2019-09-27T06:43:53.000000000' '2019-09-27T08:02:50.000000000'
 '2019-09-27T09:00:39.000000000' '2019-09-27T10:30:39.000000000'
 '2019-09-27T12:30:39.000000000' '2019-09-27T14:00:46.000000000'
 '2019-09-27T14:30:39.000000000' '2019-09-27T16:30:42.000000000'
 '2019-09-27T18:30:39.000000000' '2019-09-27T19:30:39.000000000'
 '2019-09-27T20:30:42.000000000' '2019-09-27T22:30:52.000000000'
 '2019-09-27T23:03:09.000000000' '2019-09-27T23:31:39.000000000'
 '2019-09-28T04:31:39.000000000' '2019-09-28T06:30:39.000000000'
 '2019-09-28T09:00:41.000000000' '2019-09-28T10:13:09.000000000'
 '2019-09-28T10:30:39.000000000' '2019-09-28T13:00:39.000000000'
 '2019-09-28T15:01:38.000000000' '2019-09-28T16:30:38.000000000'
 '2019-09-28T18:30:38.000000000' '2019-09-28T21:00:39.000000000'
 '2019-09-28T22:30:38.000000000' '2019-09-28T23:03:09.000000000'
 '2019-09-29T03:00:38.000000000' '2019-09-29T03:05:07.000000000'
 '2019-09-29T05:30:38.000000000' '2019-09-29T06:30:39.000000000'
 '2019-09-29T09:01:38.000000000' '2019-09-29T11:00:38.000000000'
 '2019-09-29T13:30:58.000000000' '2019-09-29T15:30:38.000000000'
 '2019-09-29T17:04:39.000000000' '2019-09-29T18:48:55.000000000'
 '2019-09-29T21:30:45.000000000' '2019-09-29T22:33:59.000000000'
 '2019-09-30T02:55:38.000000000' '2019-09-30T04:41:45.000000000'
 '2019-09-30T04:43:08.000000000' '2019-09-30T06:24:45.000000000'
 '2019-09-30T08:46:38.000000000' '2019-09-30T11:04:38.000000000'
 '2019-09-30T12:30:38.000000000' '2019-09-30T14:33:38.000000000'
 '2019-09-30T16:30:38.000000000' '2019-09-30T18:30:39.000000000'
 '2019-09-30T21:00:38.000000000' '2019-09-30T22:40:48.000000000'
 '2019-10-01T04:07:38.000000000' '2019-10-01T04:18:38.000000000'
 '2019-10-01T06:20:55.000000000' '2019-10-01T08:34:52.000000000'
 '2019-10-01T10:34:40.000000000' '2019-10-01T12:50:39.000000000'
 '2019-10-01T14:34:39.000000000' '2019-10-01T16:33:39.000000000'
 '2019-10-01T18:52:39.000000000' '2019-10-01T20:37:42.000000000'
 '2019-10-01T22:06:38.000000000' '2019-10-01T22:33:39.000000000'
 '2019-10-02T02:43:39.000000000' '2019-10-02T03:07:39.000000000'
 '2019-10-02T04:26:39.000000000' '2019-10-02T06:45:39.000000000'
 '2019-10-02T08:36:39.000000000' '2019-10-02T10:37:39.000000000'
 '2019-10-02T12:22:39.000000000' '2019-10-02T14:37:43.000000000'
 '2019-10-02T16:36:39.000000000' '2019-10-02T19:22:39.000000000'
 '2019-10-02T20:52:39.000000000' '2019-10-02T22:36:56.000000000'
 '2019-10-03T03:06:56.000000000' '2019-10-03T04:32:34.000000000'
 '2019-10-03T06:20:42.000000000' '2019-10-03T08:57:39.000000000'
 '2019-10-03T11:21:07.000000000' '2019-10-03T12:49:39.000000000'
 '2019-10-03T22:33:09.000000000' '2019-10-04T07:31:00.000000000'
 '2019-10-04T16:00:00.000000000' '2019-10-05T07:28:00.000000000'
 '2019-10-05T16:25:00.000000000' '2019-10-06T08:25:00.000000000'
 '2019-10-06T11:50:00.000000000' '2019-10-06T16:31:00.000000000'
 '2019-10-07T07:52:00.000000000' '2019-10-07T11:50:00.000000000'
 '2019-10-07T16:10:00.000000000' '2019-10-08T07:53:00.000000000'
 '2019-10-08T16:20:00.000000000' '2019-10-08T19:40:00.000000000'
 '2019-10-08T21:30:00.000000000' '2019-10-09T07:51:00.000000000'
 '2019-10-09T12:55:00.000000000' '2019-10-09T15:38:00.000000000'
 '2019-10-09T18:29:00.000000000' '2019-10-10T07:51:00.000000000'
 '2019-10-10T16:45:00.000000000']
MySQL connection is closed

In [51]:
import mysql.connector
from mysql.connector import Error
import IMDSS.config as cfg
import pandas as pd
import datetime
import math

try:
    connection = mysql.connector.connect(host=cfg.db['host'],
                                         database=cfg.db['name'],
                                         user=cfg.db['user'],
                                         password=cfg.db['password'])
    cursor = connection.cursor()
    
    df = pd.read_sql('select * from med_data', connection)
    
    df['MedPRS'] = df['MedPRS'].str.strip()
    
    meds = df['MedPRS'].value_counts().index.tolist()
    
    df['time'] = df['exeDt'].apply(lambda x: datetime.datetime.strptime(x, "%Y%m%d%H%M%S"))
    
    newdf = pd.pivot_table(df, index='time', columns='MedPRS', values='dose')
    
#     newdf.update(newdf[meds].fillna(0))
#     print(list(newdf.max().index)[0])
    max_dict = newdf.max().to_dict()

    for index in max_dict.keys():
#         max_dict[index] = round(max_dict.get(index), -1)
        max_dict[index] = int(math.ceil(max_dict[index] / 10.0)) * 10

    print(max_dict)
#     groups = df.groupby(['MedPRS', 'doseUnit'])
    
#     keys = list(groups.groups.keys())
    
#     print(keys[0][0])

    

    

except Error as e:
    print("Error while connecting to MySQL", e)
finally:
    if (connection.is_connected()):
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

{'ALBUM': 10, 'APT': 10, 'CALGL': 10, 'DORM1': 10, 'DULCS': 10, 'FLUI6': 10, 'KCL': 40, 'KEPPI': 10, 'KNOWI': 10, 'LASII': 10, 'MAXII': 2000, 'MEPE2': 1000, 'NS250': 250, 'NS5': 500, 'POTPH': 10, 'RADIK': 10, 'VANCO': 1000}
MySQL connection is closed